$primary-heading-color: #999;
$primary-background-color: #eee;
$link-color: #039be5;
$hover-background: #cfd8dc;

h1 {
  color: $primary-heading-color;
  font-size: 1.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

nav {
  a {
    background-color: $primary-background-color;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;

    visited,
    link {
      color: #607d8b;
    }

    hover {
      background-color: $hover-background;
      color: $link-color;
    }

    router-link-active {
      color: $link-color;
    }
  }
}
